.titleMenu-logo {
    background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/DOYOGA-logo.png?raw=true');
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}

.index-topBanner {
    background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/photo-1612157777902-5382bc6e864b.jpeg?raw=true');
    height: 582px;
    background-size: cover;
    background-position: center 100%;
}

.professionalTeam-Banner {
    background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/photo-1540206276207-3af25c08abc4.jpeg?raw=true');
    height: 628px;
    border-radius: 16px;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}