/*Card*/
.card-title {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 4px;
}

/*DatePicker*/
.datepicker-cell.selected, 
.datepicker-cell.selected:hover {
    background-color: #907A7B;
  }
.datepicker-picker{
    color: #907A7B;
}