@media (min-width: 992px) {
  /*首頁 - 活在當下圖片*/
  .livingNow-img {
    height: 420px;
  }
  /*首頁 - 頂尖師資圖片*/
  .professionalTeam-Carol {
    margin-left: -96px;
  }
  /*首頁 - 舒適空間圖片*/
  .relaxingYoga {
    &-lookUp {
    height: 444px;
    }
    &-whiteRoom {
      height: 207px;
    }
    &-lookDown {
      height: 207px;
    }
  }
  /*首頁 - 課程多元圖片*/
  .varietyOfCourse {
    &-lookUp {
      height: 445px;
    }
    &-stretchRight {
      height: 445px;
    }
    &-lookDown {
      height: 445px;
    }
    &-backExtension {
      height: 445px;
    }
  }
  /*首頁 - 方案選擇圖片*/
  .coursePlan {
    &-backExtension {
      height: 235px;
    }
    &-sit{
      height: 235px;
    }
    &-backFlip {
      height: 235px;
    }
  }

  /*聯絡我們 - GoogleMap*/
  .location-mapImg {
    height: 360px;
  }

  /*瑜珈空間 - 圖片*/
  .yogaSpaceImg {
    &-groupClass {
      height: 350px;
    }
    &-singleTraining {
      height: 350px;
    }
    &-showerRoom {
      height: 350px;
    }
    &-equipment {
      height: 350px;
    }
    &-saloon {
      height: 350px;
    }
  }
  .yogaSpace-swiperImg {
    &-basic {
      height: 196px;
    }
    &-lyengar {
      height: 196px;
    }
    &-hatha {
      height: 196px;
    }
    &-universal {
      height: 196px;
    }
    &-partner {
      height: 196px;
    }
  }

  /*課程介紹 - 圖片*/
  .introduce-month {
    &-limitedCourse {
      height: 341px;
    }
  }
  .introduce-courses {
    &-basic {
      height: 196px;
    }
    &-iyengar {
      height: 196px;
    }
    &-hatha {
      height: 196px;
    }
    &-universal {
      height: 196px;
    }
    &-arcoYoga {
      height: 196px;
    }
    &-ashtanga {
      height: 196px;
    }
    &-yinYang {
      height: 196px;
    }
    &-aromaYoga {
      height: 196px;
    }
  }
  .introduce-teachers {
    &-card {
      height: 418px;
    }
    &-Carol {
      height: 96px;
    }
    &-Kanae {
      height: 96px;
    }
    &-Kuzuha {
      height: 96px;
    }
    &-Asa {
      height: 96px;
    }
  }
  .introduce-coursesModal {
    &-basic {
      height: 418px;
    }
  }

  /*立即預約 - 圖片*/
  .reservation-choose {
    &-backExtension {
      height: 235px;
    }
    &-sit{
      height: 235px;
    }
    &-backFlip {
      height: 235px;
    }
  }
}


@media (min-width: 768px) and (max-width: 992px) {
  /*首頁 - 活在當下圖片*/
  .livingNow-img {
    height: 252px;
  }
  /*首頁 - 舒適空間圖片*/
  .relaxingYoga {
    &-lookUp {
    height: 266px;
    }
    &-whiteRoom {
      height: 117px;
    }
    &-lookDown {
      height: 117px;
    }
  }
  /*首頁 - 課程多元圖片*/
  .varietyOfCourse {
    &-lookUp {
      height: 150px;
    }
    &-stretchRight {
      height: 150px;
    }
    &-lookDown {
      height: 150px;
    }
    &-backExtension {
      height: 150px;
    }
  }
  /*首頁 - 方案選擇圖片*/
  .coursePlan {
    &-backExtension {      
      height: 238px;
    }
    &-sit{      
      height: 238px;
    }
    &-backFlip {      
      height: 238px;
    }
  }

  /*聯絡我們 - GoogleMap*/
  .location-mapImg {
    height: 323px;
  }

  /*瑜珈空間 - 圖片*/
  .yogaSpaceImg {
    &-groupClass {
      height: 216px;
    }
    &-singleTraining {
      height: 210px;
    }
    &-showerRoom {
      height: 210px;
    }
    &-equipment {
      height: 210px;
    }
    &-saloon {
      height: 210px;
    }
  }
  .yogaSpace-swiperImg {
    &-basic {
      height: 161px;
    }
    &-lyengar {
      height: 161px;
    }
    &-hatha {
      height: 161px;
    }
    &-universal {
      height: 161px;
    }
    &-partner {
      height: 161px;
    }
  }

  /*課程介紹 - 圖片*/
  .introduce-month {
    &-limitedCourse {
      height: 341px;
    }
  }
  .introduce-courses {
    &-basic {
      height: 196px;
    }
    &-iyengar {
      height: 196px;
    }
    &-hatha {
      height: 196px;
    }
    &-universal {
      height: 196px;
    }
    &-arcoYoga {
      height: 196px;
    }
    &-ashtanga {
      height: 196px;
    }
    &-yinYang {
      height: 196px;
    }
    &-aromaYoga {
      height: 196px;
    }
  }
  .introduce-teachers {
    &-card {
      height: 418px;
    }
    &-Carol {
      height: 96px;
    }
    &-Kanae {
      height: 96px;
    }
    &-Kuzuha {
      height: 96px;
    }
    &-Asa {
      height: 96px;
    }
  }
  .introduce-coursesModal {
    &-basic {
      height: 418px;
    }
  }

  /*立即預約 - 圖片*/
  .reservation-choose {
    &-backExtension {
      height: 235px;
    }
    &-sit{
      height: 235px;
    }
    &-backFlip {
      height: 235px;
    }
  }
}


@media (max-width: 768px) {
  /*首頁 - 活在當下圖片*/
  .livingNow-img {
    height: 420px;
  }
  /*首頁 - 頂尖師資圖片*/
  .teacherImg {
    &-Carol {
      width: 48px;
      height: 48px;
    }
    &-Kanae {
      width: 48px;
      height: 48px;
    }
    &-Asa {
      width: 48px;
      height: 48px;
    }
  }
  /*首頁 - 舒適空間圖片*/
  .relaxingYoga {
    &-lookUp {
    height: 210px;
    }
    &-whiteRoom {
      height: 210px;
    }
  }
  /*首頁 - 課程多元圖片*/
  .varietyOfCourse {
    &-lookUp {
      height: 165px;
    }
    &-stretchRight {
      height: 165px;
    }
    &-lookDown {
      height: 165px;
    }
    &-backExtension {
      height: 165px;
    }
  }
  /*首頁 - 方案選擇圖片*/
  .coursePlan {
    &-backExtension {
      height: 235px;
    }
    &-sit{
      height: 235px;
    }
    &-backFlip {
      height: 235px;
    }
  }

  /*聯絡我們 - GoogleMap*/
  .location-mapImg {
    height: 195px;
  }

  /*瑜珈空間 - 圖片*/
  .yogaSpaceImg {
    &-groupClass {
      height: 350px;
    }
    &-singleTraining {
      height: 350px;
    }
    &-showerRoom {
      height: 350px;
    }
    &-equipment {
      height: 350px;
    }
    &-saloon {
      height: 350px;
    }
  }
  .yogaSpace-swiperImg {
    &-basic {
      height: 196px;
    }
    &-lyengar {
      height: 196px;
    }
    &-hatha {
      height: 196px;
    }
    &-universal {
      height: 196px;
    }
    &-partner {
      height: 196px;
    }
  }

  /*課程介紹 - 圖片*/
  .introduce-month {
    &-limitedCourse {
      height: 218px;
    }
  }
  .introduce-courses {
    &-basic {
      height: 196px;
    }
    &-iyengar {
      height: 196px;
    }
    &-hatha {
      height: 196px;
    }
    &-universal {
      height: 196px;
    }
    &-arcoYoga {
      height: 196px;
    }
    &-ashtanga {
      height: 196px;
    }
    &-yinYang {
      height: 196px;
    }
    &-aromaYoga {
      height: 196px;
    }
  }
  .introduce-teachers {
    &-card {
      height: 418px;
    }
    &-Carol {
      height: 96px;
    }
    &-Kanae {
      height: 96px;
    }
    &-Kuzuha {
      height: 96px;
    }
    &-Asa {
      height: 96px;
    }
  }
  .introduce-coursesModal {
    &-basic {
      height: 165px;
    }
  }

  /*立即預約 - 圖片*/
  .reservation-choose {
    &-backExtension {
      height: 235px;
    }
    &-sit{
      height: 235px;
    }
    &-backFlip {
      height: 235px;
    }
  }
}
