/*圖片調整*/
.bgCoverCenter {
    background-size: cover;
    background-position: center center;
}

/*圓角設定*/
.radius-16 {
    border-radius: 1rem;
}

/*覆蓋層級*/
.z-indexTop {
    z-index: 1200;   /*在最上層覆蓋全部 (BS5預設最高1080)*/
}

/*按鈕效果*/
.btn-hover-opacity {
    &:hover {
    opacity: 50%;
    }
}

/*寬度設定*/
.width-68 {
    width: 68px;
}
.width-94 {
    width: 94px;
}

/*高度設定*/
.height-68 {
    height: 68px;
}
.height-94 {
    height: 94px;
}


